.comment-section .card {
    background-color: #f8f9fa;
  }
  
  .comment-section .card-header {
    background-color: white;
    font-weight: bold;
  }
  
  .comments .comment {
    background-color: #f1f1f1;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
  }
  